/* General Styles  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: normal 16px serif;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

/* Header Styles */

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav li {
  padding: 0 25px;
}

hr {
border: 0;
width: 200px;
margin-bottom: 8px;
margin-top: 10px;
height: 1px;
background-image: -webkit-linear-gradient(left, #f0f0f0, #e0e0e0, #f0f0f0);
background-image: -o-linear-gradient(left, #f0f0f0, #e0e0e0, #f0f0f0);
background-image: linear-gradient(to right, #f0f0f0, #e0e0e0, #f0f0f0);
}

header h2 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .3px;
}

/* Hero Section  */

.hero {
  position: relative;
  height: 100vh;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

/* About Section */

.about {
  display: flex;
  justify-content: center;
}

.about .texts {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 100px 80px 100px 0;
}

.about .quote {
  width: 70%;
  padding: 30px;
  text-align: left;
  border: 4px solid #e0e0e0;
}

.about .love {
  width: 70%;
  padding: 30px;
}

.about .love h1 {
  margin-bottom: 10px;
}

.about .love p {
  text-indent: 7%;
}

.about .img-scene1 {
  flex-basis: 30%;
  background-size: cover;
  width: 400px;
  height: 600px;
  margin-top: 100px;
}

/* Grid Section  */

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: stretch;
  /* grid-gap: 2px; */
  /* grid-template-rows: repeat(4, 1fr); */
  /* grid-template-rows: auto; */
}

.grid img {
  width: 100%;
  /* height: 130px; */
}

/* Contact Me Section  */

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px;
  align-items: center;
  justify-items: center;
}

.contact h1 {
  border-right: 1px solid black;
  text-align: left;
  font-size: 60px;
  width: 40%;
}

.contact h2 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

/* Footer Section  */

footer {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #f0f0f0;
}

footer p {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.6;
  margin-left: 20px;
}

footer ul {
  margin-right: 30px;
}
